@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

th,
td {
  padding: 15px;
  text-align: left;
  transition: 0.3s;
}

td:hover {
  color: darkcyan;
  cursor: pointer;
}
